@import 'helpers/_helpers.scss';

@import 'base/_normalize.scss',
		'utilities/_variables.scss',
		'base/_base.scss';

@import 'components/_about.scss',
		'components/_portfolio.scss',
		'components/_header.scss',
		'components/_nav.scss',
		'components/_footer.scss';

.wrapper {	
	margin: auto;
	max-width: 1200px;

	@media (max-width: map-get($breakpoints, 'xs')) {
		width: 100vw; 	
	}
	@media (min-width: map-get($breakpoints, 'sm')) {
		padding: 0 $sm;	 
	}
}

 